<h1>Structural Directive Example</h1>

<div *appNgLoop="let nr of numbers">{{ nr }} Hello World</div>
<hr />

<h1>Structural Directive Example</h1>
<div *myCustomIf="condition">MyCustomIf</div>
<button (click)="condition = !condition">Click me!</button>
<hr />

<h1>Attribute Directive</h1>

<div
  (dblclick)="highlighter.toggle()"
  #highlighter="hl"
  attribute
  (toggleHighlight)="onToggle($event)"
>
  Hover me and double click me!
</div>

<hr>

<h1>Structural Directive</h1>

<div *hideAfter="5000 as time; then placeholder; let counter = counter">
  This content will be hidden in {{ time }} seconds. 
  It disapears in {{ counter }} seconds.
</div>

<ng-template #placeholder let-hiddenAfter="hideAfter" let-myDefault>
  New content created. Previous content was hidden after {{hiddenAfter}} seconds. 
  Default Value: {{myDefault}}
</ng-template>

<hr>

<h1>Structural Directive with narrow types (Advanced)</h1>

<section *ifLoaded="state">
  This section was loaded. The name is {{state.data.name}}
</section>