<mat-toolbar>Angular Popurri</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="side-menu" opened mode="side" position="start">
    <img
      class="avatar mat-elevation-z8"
      src="https://avatars.githubusercontent.com/u/38866056?v=4"
    />

    <h4 class="name">Guido Perman</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <div
      *ngFor="let link of links"
      class="side-menu-item"
      [routerLink]="link.url"
    >
      <button mat-button class="menu-button">
        <span>
          {{ link.name }}
        </span>
      </button>
    </div>
  </mat-sidenav>

  <div class="content mat-elevation-z8">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
